<h1 mat-dialog-title>Edit Contact</h1>
<div mat-dialog-content class="inputWrapper">
	<ng-container *ngFor="let key of getObjectKeys(this.user)">
		<mat-form-field *ngIf="key == 'street' || key == 'housenumber' || key == 'postcode' || key == 'city' || key == 'email' || key == 'phone'">
			<mat-label>{{ key }}</mat-label>
			<input [disabled]="loading" matInput [(ngModel)]="this.user[key]">


	

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


</mat-form-field>

	</ng-container>
	
<div mat-dialog-actions>
	<button mat-button [disabled]="loading" (click)="onNoClick()">No Thanks</button>
	<button mat-button [disabled]="loading" (click)="saveEditUser()" cdkFocusInitials>save</button>
</div>
</div>