<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logoContainer">
      <div class="logo"><img src="assets/img/crm-logo.png" alt=""></div>
    </div>
    <ul>
      <li routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="user"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="routerContainer">
     <router-outlet></router-outlet>
      
    </div>
  </div>
</mat-drawer-container>