<mat-accordion>
	<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header class="userHeader">
					<mat-panel-title>
							User
					</mat-panel-title>
					<mat-panel-description>
							Open the user for all information
					</mat-panel-description>
			</mat-expansion-panel-header>
			<p>This are all User we have saved.</p>
	</mat-expansion-panel>
	<mat-expansion-panel *ngFor="let userInfo of user$ | async" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
					<mat-panel-title>
							{{ userInfo.name }}, {{ userInfo.firstname }}
					</mat-panel-title>
					<mat-panel-description>
							{{ userInfo.city }}
					</mat-panel-description>
			</mat-expansion-panel-header>
			<p>Street: {{ userInfo.street}}, {{ userInfo.housenumber}}</p>
			<p>Postcode: {{ userInfo.postcode}}, City: {{ userInfo.city}}</p>
			<p>E-Mail: {{ userInfo.email}}</p>
			<p>Phone: {{ userInfo.phone}}</p>
			<p>Birthsday: {{ getBirthsday(userInfo.birthsday) }}</p>
			<div class="fullscreenBtn">
				<button mat-mini-fab color="primary" routerLink="/user/{{ userInfo.id }}">
					<mat-icon>fullscreen</mat-icon>
				</button>
			</div>
	</mat-expansion-panel>
</mat-accordion>

<div class="button-container">
	<button mat-fab color="primary" 
	matTooltip="Add a new user." (click)="openDialog()">
			<mat-icon>add</mat-icon>
	</button>
</div>
